$purple: #0c1943;
$gold: #ac6e06;

.container {
  max-width: 1400px;
  margin-inline: auto;
  .navbar {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 1rem;
      position: sticky;

      img {
        height: 60px;
      }

      ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
      }
      .contact-btn {
        border: 1px solid $gold;
        text-decoration: none;
        outline: none;
        background-color: transparent;
        color: $purple;
        padding: 0.7rem 1.7rem;
        border-radius: 10px;
        margin-left: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        letter-spacing: 1.3px;

        &:hover {
          background-color: $gold;
          color: white;
        }
      }
    }
  }
  .hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85vh;

    .title-section {
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-inline: auto;

      .title {
        text-align: left;
        line-height: 90px;
        padding-bottom: 3rem;
        max-width: 13ch;
      }

      .hr-text {
        color: $gold;
      }

      .sub-title {
        font-size: 1.6rem;
        max-width: 19ch;
      }

      .speciality {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          height: 3px;
          bottom: -0.3rem;
          left: 0;
          right: 0;
          background-color: $gold;
        }
      }
    }

    .hero-img {
      background-image: url("Images/call.jpg");
      background-size: cover;
      background-position: center;
      border-radius: 20px;
    }
  }
}

.contact-section {
  padding: 3rem 0;
  .contact-text {
    padding-left: 20px;
  }
  .text {
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    padding-left: 20px;
  }

  form .form-row {
    display: flex;
    margin: 32px 0;
  }
  form .form-row .input-data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }
  form .form-row .textarea {
    height: 70px;
  }
  .input-data input,
  .textarea textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  }
  .input-data input:focus ~ label,
  .textarea textarea:focus ~ label,
  .input-data input:valid ~ label,
  .textarea textarea:valid ~ label {
    transform: translateY(-20px);
    font-size: 14px;
    color: $gold;
  }
  .textarea textarea {
    resize: none;
    padding-top: 10px;
  }
  .input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .textarea label {
    width: 100%;
    bottom: 40px;
    background: #fff;
  }
  .input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: $gold;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before {
    transform: scale(1);
  }
  .submit-btn {
    border: 1px solid $gold;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    color: $purple;
    padding: 0.7rem 1.7rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    letter-spacing: 1.3px;
    margin-left: 20px;

    &:hover {
      background-color: $gold;
      color: white;
    }
  }

  @media (max-width: 700px) {
    .text {
      font-size: 30px;
    }
    form {
      padding: 10px 0 0 0;
    }
    form .form-row {
      display: block;
    }
    form .form-row .input-data {
      margin: 35px 0 !important;
    }
    .submit-btn .input-data {
      width: 40% !important;
    }
  }
}
