$purple: #0c1943;
$gold: #ac6e06;

.container {
  max-width: 1400px;
  margin-inline: auto;
  .navbar {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 1rem;
      position: sticky;

      img {
        height: 60px;
      }

      ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
      }
      .contact-btn {
        border: 1px solid $purple;
        outline: none;
        background-color: transparent;
        color: $purple;
        padding: 0.7rem 1.7rem;
        border-radius: 10px;
        margin-left: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        letter-spacing: 1.3px;

        &:hover {
          background-color: $purple;
          color: white;
        }
      }
    }
  }
  .hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85vh;

    .title-section {
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-inline: auto;

      .title {
        text-align: left;
        line-height: 90px;
        padding-bottom: 3rem;
        max-width: 13ch;
      }

      .hr-text {
        color: $gold;
      }

      .sub-title {
        font-size: 1.6rem;
        max-width: 19ch;
      }

      .speciality {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          height: 3px;
          bottom: -0.3rem;
          left: 0;
          right: 0;
          background-color: $gold;
        }
      }
    }

    .hero-img {
      background-image: url("Images/call.jpg");
      background-size: cover;
      background-position: center;
      border-radius: 20px;
    }
  }
}
