/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1400px;
  margin-inline: auto;
}
.container .navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  position: sticky;
}
.container .navbar nav img {
  height: 60px;
}
.container .navbar nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}
.container .navbar nav .contact-btn {
  border: 1px solid #ac6e06;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  color: #0c1943;
  padding: 0.7rem 1.7rem;
  border-radius: 10px;
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  letter-spacing: 1.3px;
}
.container .navbar nav .contact-btn:hover {
  background-color: #ac6e06;
  color: white;
}
.container .hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 85vh;
}
.container .hero-section .title-section {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
}
.container .hero-section .title-section .title {
  text-align: left;
  line-height: 90px;
  padding-bottom: 3rem;
  max-width: 13ch;
}
.container .hero-section .title-section .hr-text {
  color: #ac6e06;
}
.container .hero-section .title-section .sub-title {
  font-size: 1.6rem;
  max-width: 19ch;
}
.container .hero-section .title-section .speciality {
  position: relative;
}
.container .hero-section .title-section .speciality::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -0.3rem;
  left: 0;
  right: 0;
  background-color: #ac6e06;
}
.container .hero-section .hero-img {
  background-image: url("Images/call.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.contact-section {
  padding: 3rem 0;
}
.contact-section .contact-text {
  padding-left: 20px;
}
.contact-section .text {
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  padding-left: 20px;
}
.contact-section form .form-row {
  display: flex;
  margin: 32px 0;
}
.contact-section form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
.contact-section form .form-row .textarea {
  height: 70px;
}
.contact-section .input-data input,
.contact-section .textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
.contact-section .input-data input:focus ~ label,
.contact-section .textarea textarea:focus ~ label,
.contact-section .input-data input:valid ~ label,
.contact-section .textarea textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #ac6e06;
}
.contact-section .textarea textarea {
  resize: none;
  padding-top: 10px;
}
.contact-section .input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.contact-section .textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.contact-section .input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.contact-section .input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #ac6e06;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.contact-section .input-data input:focus ~ .underline:before,
.contact-section .input-data input:valid ~ .underline:before,
.contact-section .textarea textarea:focus ~ .underline:before,
.contact-section .textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}
.contact-section .submit-btn {
  border: 1px solid #ac6e06;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  color: #0c1943;
  padding: 0.7rem 1.7rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  letter-spacing: 1.3px;
  margin-left: 20px;
}
.contact-section .submit-btn:hover {
  background-color: #ac6e06;
  color: white;
}
@media (max-width: 700px) {
  .contact-section .text {
    font-size: 30px;
  }
  .contact-section form {
    padding: 10px 0 0 0;
  }
  .contact-section form .form-row {
    display: block;
  }
  .contact-section form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .contact-section .submit-btn .input-data {
    width: 40% !important;
  }
}/*# sourceMappingURL=main.css.map */